.resume-name {
    color: red;
}

.details{
    margin-left: 50px;
}

.class-taken{
    margin-left: 50px;
}

.relevant-education{
    margin-left: 50px;
}

.job-component{
    margin-left: 50px;
}

.list-schools{
    border-bottom: 1px solid black;
}

.jobs-list{
    border-bottom: 1px solid black;
}